<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187056167210-kh56h2muro6oe18smdcdmhjd0m6t3cl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187056167210-kh56h2muro6oe18smdcdmhjd0m6t3cl9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187056167210-cs20l55q721mi0vn1pvlak8ghlbbcd3q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSQIuWXOdEZX4VwFIRLi4kIQRMpTMqa4E</string>
	<key>GCM_SENDER_ID</key>
	<string>187056167210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaizen.row</string>
	<key>PROJECT_ID</key>
	<string>rotary-india-10f9b</string>
	<key>STORAGE_BUCKET</key>
	<string>rotary-india-10f9b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187056167210:ios:b016198b64f846e3e3e653</string>
	<key>DATABASE_URL</key>
	<string>https://rotary-india-10f9b.firebaseio.com</string>
</dict>
</plist>