<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14746E5C1C042CA10066DE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14746E731C042CA20066DE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14746E7E1C042CA20066DE72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
